body{width:960px;margin:0 auto;padding:20px;font-family:Helvetica, Arial, Sans-serif}label,input{display:block;font-size:100%;margin:6px 0px}input{margin-top:-4px;outline:none}input:active,input:focus{outline:1px solid #900}.button{padding:5px 9px;border:1px solid #cdcdcd;border-radius:2px;background-color:#fff;color:#333;font-size:.8em}.button:hover{background-color:#dedede;cursor:pointer}
/*# sourceMappingURL=main.css.map */
